.table-container {
  &.hidden {
    display: none;
  }
}

.table-wrapper {
  overflow: auto;
  border-radius: 4px 4px 0 0;

  table {
    width: 100%;

    .avatar-wrapper {
      display: flex;

      img.avatar {
        width: 36px;
        border-radius: 50%;
        padding: 8px 0;
      }
    }
  }
}

mat-paginator {
  border-radius: 0 0 4px 4px;
}
