.table-wrapper {
  overflow: auto;

  table {
    width: 100%;

    .avatar-wrapper {
      display: flex;

      img.avatar {
        width: 36px;
        border-radius: 50%;
        padding: 8px 0;
      }
    }
  }
}
