@use "@angular/material" as mat;
@import "./theme.scss";

@include mat.core();
@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: map-get($theme, "color", "background", "background");
}

a {
  text-decoration: none;
  color: map-get($primary, 200);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: map-get($theme, "color", "background", "background");
}

::-webkit-scrollbar-thumb {
  background: map-get($theme, "color", "background", "app-bar");
}

::-webkit-scrollbar-thumb:hover {
  background: map-get($theme, "color", "background", "card");
}
